<h1 style="color:DarkBlue;">Welcome</h1>
<br>
  <% if logged_in? %>
  <h3 style="color:SlateBlue;">your already logged in...</h3>
  <br>
    <% @user = current_user %>
    <%= button_to "Home", user_path(@user), method: :get%><br>
    <%= button_to "Logout", '/logout', method: :post%>
      <% else %>
        <%= button_to "Login", '/signin', method: :get%>
        <%= button_to "Sign Up", '/signup', method: :get%>
      <%end%>
      <br>
