<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>


<!DOCTYPE html>
<html>
  <head>
    <title>Watchman</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <style>
    body {
    background-color:#1d1d1d !important;
  }
  p {
    color: black;
  }
    </style>
  <div class="container">
    <h1 style="color:DarkBlue;">Watchman</h1>
    <header><img src="https://res.cloudinary.com/argustwo/image/upload/v1595357921/uxu2a0dtclucojsznbnv.jpg" style="width:220px;height:300px;" class="img-responsive main-image"></header>
    <div class="col-md-8 col-md-offset-2">

  <body>
    <%= yield %>
  </body>
</html>
